/* You can add global styles to this file, and also import other style files */
section{
  font-weight: 200;
  background-color:white;
}

div{
  background-color: white;
}

/* component styles, override of global styles */
