<div class="container pb-2">
    <p class="text-heading">Buttons</p>
   
    <div class="row divider">
        <div class="col-3">
            <div>
                <button mat-button color="primary">Material Angular Button</button>
            </div>
        </div>
        <div class="col-3">
            <button  mat-button color="primary">
                <button mat-fab class="wrapper">
                    <mat-icon class="button-icon">delete</mat-icon>
                </button>
                Delete Item
            </button>
        </div>
        <div class="col-3">
            <button mat-raised-button class="btn-primary">Raised Button</button>
        </div>
        <div class="col-3">
            <button  mat-button>
                <button mat-fab>
                    <mat-icon>delete</mat-icon>
                </button>
                Delete Item
            </button>
        </div>
    </div>
</div>