
  <mat-stepper #stepper >
    <mat-step label="Fill in names">
        <!-- <ng-template matStepLabel>Fill in names</ng-template> -->
        1
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>

    </mat-step>

    <mat-step label="Fill out your address">
           2
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
     
    </mat-step>


    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>You are now done.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
      </div>
    </mat-step>
  </mat-stepper>
  